.congo-container {
    background-color: #f4f7f8;
    width: 90%;
    max-width: 40rem;
    margin: 2rem auto;
    padding: 2rem;
    border: none;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logout-button {
    font: inherit;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    background-color: #bf1e2d;
    color: white;
    margin-top: 1rem;
    margin-right: 1rem;
    padding: 0.8rem 2.6rem;
    border: none;
    border-radius: 5px;
}

.actions button:hover {
    box-shadow: 10px 10px 14px -6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 10px 10px 14px -6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 10px 10px 14px -6px rgba(0, 0, 0, 0.4);
}