.main{
    background-color: #282D35;
    color: white;
    height: 100vh;
    padding: 20px 30px;
    background-image: url("./reactjs-icon 2.png");
    background-repeat: no-repeat;
    background-position: right 40%;
}

.main--title{
    font-size: 39px;
    font-weight: 700;
    letter-spacing: -0.05em;
}

.main--facts{
    margin-top: 40px;
    margin-left: 40px;

}
.main--facts>li{
    padding-block: 10px;
    line-height: 19px;
}

.main--facts>li::marker{
    font-size: 1.4rem;
    color: #61DAFB;
}

