.container{
    background-color: #f4f7f8;
    width: 92%;
    margin: 2rem auto;
    border: none;
    border-radius: 5px;
    padding:2rem 1rem;
  }
  .controls {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 20px;
    color: #384047;
  }
  .control {
    display: flex;
    flex-direction: column;
  }
  .control label {
    font-weight: 500;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
  }
  
  .actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  .actions button {
    font: inherit;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    background-color: #bf1e2d;
    color: white;
    margin-top: 1rem 2rem;
    margin-right: 1rem;
    padding: 0.8rem 2.6rem;
    border: none;
    border-radius: 5px;
    
  }
  
  .actions button:hover {
    box-shadow: 10px 10px 14px -6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 10px 10px 14px -6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 10px 10px 14px -6px rgba(0, 0, 0, 0.4);
  }
  
  .logout{
    display: flex;
    justify-content: flex-end;
  }

  .logout button{
    background-color: #bf1e2d;
    color: white;
    margin-top: 1rem 2rem;
    margin-right: 1rem;
    padding: 0.8rem 2.6rem;
    border: none;
    border-radius: 5px;
  }